@font-face {
    font-family: "futura-medium";
    src: url(/fonts/futura.ttf) format('truetype');
}

* {
    font-family: 'futura-medium', sans-serif;
    font-weight: 500px;
    color: white;
    word-break: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: grid;
    /* background: rgb(255, 255, 255); */
    background: black;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: -20px;
}

#header img {
    height: 160px;
    width: 150px;
}

.title {
    margin-top: 50px;
}


.biodata {
    text-align: center;
    margin-top: 40px;
    display: grid;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
}

.biodata li {
    height: 50px;
    border-radius: 7px;
    background-color: black;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease 0s;
}

.biodata li:hover {
    background-color: rgb(79, 0, 0);
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.socials li {
    margin: 0 13px;
    align-items: center;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.socials a i {
    margin-top: 10px;
    font-size: 2rem;
    width: 28px;
    transition: color 0.5s ease;
}

#showreel {
    justify-content: center;
    display: grid;
    text-align: center;
    margin-top: 30px;
}

#showreel h2 {
    margin-bottom: 10px;
}

#latest {
    justify-content: center;
    align-items: center;
    display: grid;
    text-align: center;
    margin-top: 30px;
}

#latest h2 {
    display: grid;
    margin-bottom: 10px;
}

#works h2 {
    margin-bottom: 10px;
}

#works {
    display: grid;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.card {
    height: 500px;
    flex: 1;
    /* margin: 0 2px; */
    margin-bottom: 20px;
    box-shadow: 0 0 50px #0002;
    text-align: left;
    border-radius: 20px;
    text-decoration: none;
}

.card h2{
    position: relative;
    margin-left: 10%;
    margin-top: -25%;
    opacity: 0;
    text-decoration: none;
    font-size: larger;
}

.card p {
    position: relative;
    margin-left: 10%;
    top: 10px;
    width: 60%;
    opacity: 0;
    text-decoration: none;
    font-size: larger;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
    filter: none;
    border-radius: 15px;
}

.card:hover img{
    filter: blur(2px) grayscale() brightness(45%);
    transition: .5s;
}

.card:hover h2 {
    color: red;
    position: relative;
    margin-left: 10%;
    margin-top: -33%;
    opacity: 100%;
    transition: .5s;
    text-decoration: none;
}

.card:hover p {
    color: red;
    position: relative;
    margin-left: 10%;
    margin-top: 10px;
    width: 60%;
    opacity: 100%;
    transition: .5s;
    font-weight: 750;
    text-decoration: none;
}




footer {
    bottom: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #181818;
    height: auto;
    width: auto;
    padding-top: 20px;
    color: #fff;
    margin-top: 50px;
}

footer hr {
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socialss {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0 3rem 0;
}

.socialss li {
    margin: 0 3px;
}

.socialss a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.socialss a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s ease;
}

.socialss a:hover {
    transition: .5s;
    color: maroon;
}

.footer-bottom {
    background: #000000;
    width: auto;
    padding: 6px;
    padding-bottom: 15px;
    text-align: center;
}

.footer-bottom p {
    padding-left: 5px;
    float: center;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom span {
    text-transform: uppercase;
}

.footer-bottom a {
    text-decoration: none;
    color: #ffffff;
}

.footer-bottom a:hover {
    color: maroon;
    transition: .5s;
    text-decoration: underline;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 500px) {
    .footer-bottom p {
    float: none;
    }

    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    * {
        font-family: 'futura-medium', sans-serif;
        font-weight: 500px;
        color: white;
        word-break: normal;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }


    #header img {
        height: 260px;
        width: 250px;
    }

    .biodata {
        text-align: center;
        margin-top: 40px;
        display: grid;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        font-size: x-large;
    }

    .biodata li {
        height: 50px;
        border-radius: 7px;
        background-color: black;
        text-decoration: none;
        color: white;
        transition: all 0.4s ease 0s;
    }
    
    .biodata li:hover {
        background-color: rgb(79, 0, 0);
    }

    #showreel h2 {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: xx-large;
    }

    #latest h2 {
        display: grid;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: xx-large;
    }

    #works h2 {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: xx-large;
    }
    
    #works {
        display: grid;
        justify-content: center;
        margin-top: 30px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card {
        height: 500px;
        flex: 1;
        margin-bottom: 20px;
        box-shadow: 0 0 50px #0002;
        text-align: left;
        border-radius: 20px;
        text-decoration: none;
    }
    
    .card h2{
        color: red;
        position: relative;
        margin-left: 10%;
        top: -65%;
        opacity: 100%;
        text-decoration: none;
        font-size: smaller;
    }
    
    .card p {
        color: red;
        position: relative;
        margin-left: 10%;
        margin-top: -47%;
        width: 50%;
        opacity: 100%;
        text-decoration: none;
        font-size: larger;
    }

    .card img{
        height: max-content;
        width: 100%;
        object-fit: cover;
        filter: blur(2px) grayscale() brightness(45%);
        border-radius: 15px;
    }

    .card:hover h2, .card:active h2{
        color: red;
        position: relative;
        margin-left: 10%;
        top: -65%;
        opacity: 100%;
        text-decoration: none;
        font-size: smaller;
    }
    
    .card:hover p, .card:active p {
        color: red;
        position: relative;
        margin-left: 10%;
        margin-top: -47%;
        width: 50%;
        opacity: 100%;
        text-decoration: none;
        font-size: larger;
    }

    .card:hover img, .card:active img{
        filter: none;
        transition: .2s;
    }

    footer {
        bottom: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background: #181818;
        height: auto;
        width: auto;
        padding-top: 20px;
        color: #fff;
        margin-top: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    * {
        font-family: 'futura-medium', sans-serif;
        font-weight: 500px;
        color: white;
        word-break: normal;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    #header img {
        height: 180px;
        width: 170px;
    }

    .biodata {
        text-align: center;
        margin-top: 40px;
        display: grid;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        font-size: large;
    }

    .biodata li {
        height: 50px;
        border-radius: 7px;
        background-color: black;
        text-decoration: none;
        color: white;
        transition: all 0.4s ease 0s;
    }
    
    .biodata li:hover {
        background-color: rgb(79, 0, 0);
    }

    #showreel h2 {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: x-large;
    }

    #latest h2 {
        display: grid;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: x-large;
    }

    #works h2 {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: x-large;
    }
    
    #works {
        display: grid;
        justify-content: center;
        margin-top: 30px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card {
        height: 500px;
        flex: 1;
        margin-bottom: 20px;
        box-shadow: 0 0 50px #0002;
        text-align: left;
        border-radius: 20px;
        text-decoration: none;
    }
    
    .card h2{
        color: red;
        position: relative;
        margin-left: 10%;
        top: -69%;
        opacity: 100%;
        text-decoration: none;
        font-size: larger;
    }
    
    .card p {
        color: red;
        position: relative;
        margin-left: 10%;
        margin-top: -47%;
        width: 50%;
        opacity: 100%;
        text-decoration: none;
        font-size: larger;
    }

    .card img{
        height: max-content;
        width: 100%;
        object-fit: cover;
        filter: none;
        border-radius: 15px;
    }

    .card:hover {
        filter: blur(2px) grayscale() brightness(45%);
        transition: .5s;
    }

    footer {
        bottom: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background: #181818;
        height: auto;
        width: auto;
        padding-top: 20px;
        color: #fff;
        margin-top: 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    * {
        font-family: 'futura-medium', sans-serif;
        font-weight: 500px;
        color: white;
        word-break: normal;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    #header img {
        height: 170px;
        width: 160px;
    }

    .biodata {
        text-align: center;
        margin-top: 40px;
        display: grid;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        font-size: medium;
    }

    .biodata li {
        height: 50px;
        border-radius: 7px;
        background-color: black;
        text-decoration: none;
        color: white;
        transition: all 0.4s ease 0s;
    }
    
    .biodata li:hover {
        background-color: rgb(79, 0, 0);
    }

    #showreel h2 {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: x-large;
    }

    #latest h2 {
        display: grid;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: x-large;
    }

    #works h2 {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: x-large;
    }
    
    #works {
        display: grid;
        justify-content: center;
        margin-top: 30px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card {
        height: 500px;
        flex: 1;
        margin-bottom: 20px;
        box-shadow: 0 0 50px #0002;
        text-align: left;
        border-radius: 20px;
        text-decoration: none;
    }
    
    .card h2{
        color: red;
        position: relative;
        margin-left: 10%;
        top: -68%;
        opacity: 100%;
        text-decoration: none;
        font-size: larger;
    }
    
    .card p {
        color: red;
        position: relative;
        margin-left: 10%;
        margin-top: -47%;
        width: 50%;
        opacity: 100%;
        text-decoration: none;
        font-size: larger;
    }

    .card img{
        height: max-content;
        width: 100%;
        object-fit: cover;
        filter: none;
        border-radius: 15px;
    }

    .card:hover {
        filter: blur(2px) grayscale() brightness(45%);
        transition: .5s;
    }

    footer {
        bottom: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background: #181818;
        height: auto;
        width: auto;
        padding-top: 20px;
        color: #fff;
        margin-top: 50px;
    }
}

/* Large devices (laptop) */
@media only screen and (min-width: 1024px) {
    
}